@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.messagerBody::-webkit-scrollbar {
  display: block; /* Hiển thị lại thanh cuộn */
  width: 8px;
}
.messagerBody::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Màu sắc của thanh cuộn */
  border-radius: 4px; /* Bo góc thanh cuộn */
  cursor: pointer;
}
.messagerBody::-webkit-scrollbar-track {
  background-color: transparent; /* Màu nền của track thanh cuộn */
}
.coupon_container::-webkit-scrollbar {
  display: block; /* Hiển thị lại thanh cuộn */
  width: 8px;
}
.coupon_container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Màu sắc của thanh cuộn */
  cursor: pointer;
}
.coupon_container::-webkit-scrollbar-track {
  background-color: transparent; /* Màu nền của track thanh cuộn */
}
/* chart */
.recharts-surface{
  overflow: visible;
}

.rancho {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Alegreya", serif; /* Đổi từ Poppins sang Alegreya */
  font-weight: 400;
  font-style: normal;
}

.alegreya-light {
  font-family: "Alegreya", serif;
  font-weight: 300;
  font-style: normal;
}

.alegreya-regular {
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-style: normal;
}
.alegreya-medium {
  font-family: "Alegreya", serif;
  font-weight: 500;
  font-style: normal;
}

.alegreya-semibold {
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-style: normal;
}

.alegreya-bold {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-style: normal;
}

.alegreya-extrabold {
  font-family: "Alegreya", serif;
  font-weight: 800;
  font-style: normal;
}

.alegreya-light-italic {
  font-family: "Alegreya", serif;
  font-weight: 300;
  font-style: italic;
}

.alegreya-regular-italic {
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-style: italic;
}

.alegreya-medium-italic {
  font-family: "Alegreya", serif;
  font-weight: 500;
  font-style: italic;
}

.alegreya-semibold-italic {
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-style: italic;
}

.alegreya-bold-italic {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-style: italic;
}

.alegreya-extrabold-italic {
  font-family: "Alegreya", serif;
  font-weight: 800;
  font-style: italic;
}
.button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #b19a1a;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Hiệu ứng hover */
.button:hover {
  background-color: #f0f18d;
}

/* Ẩn mặc định nút điều hướng của react-slick */
.slick-prev,
.slick-next {
  display: none !important;
}

/* Hiển thị và tùy chỉnh nút điều hướng custom */
.custom-prev,
.custom-next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.custom-prev {
  left: -30px; /* Căn trái */
}

.custom-next {
  right: -30px; /* Căn phải */
}

/* Thêm hiệu ứng hover */
.custom-prev:hover,
.custom-next:hover {
  background-color: rgba(255, 87, 34, 0.8); /* Cam nhạt khi hover */
}

/* Căn chỉnh chấm điều hướng */
.slick-dots {
  bottom: -30px; /* Tăng khoảng cách so với slider */
}

