* {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
* {
  font-family: "Alegreya", serif; /* Đổi từ Poppins sang Alegreya */
  font-weight: 400;
  font-style: normal;
}

.alegreya-light {
  font-family: "Alegreya", serif;
  font-weight: 300;
  font-style: normal;
}

.alegreya-regular {
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-style: normal;
}
.alegreya-medium {
  font-family: "Alegreya", serif;
  font-weight: 500;
  font-style: normal;
}

.alegreya-semibold {
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-style: normal;
}

.alegreya-bold {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-style: normal;
}

.alegreya-extrabold {
  font-family: "Alegreya", serif;
  font-weight: 800;
  font-style: normal;
}

.alegreya-light-italic {
  font-family: "Alegreya", serif;
  font-weight: 300;
  font-style: italic;
}

.alegreya-regular-italic {
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-style: italic;
}

.alegreya-medium-italic {
  font-family: "Alegreya", serif;
  font-weight: 500;
  font-style: italic;
}

.alegreya-semibold-italic {
  font-family: "Alegreya", serif;
  font-weight: 600;
  font-style: italic;
}

.alegreya-bold-italic {
  font-family: "Alegreya", serif;
  font-weight: 700;
  font-style: italic;
}

.alegreya-extrabold-italic {
  font-family: "Alegreya", serif;
  font-weight: 800;
  font-style: italic;
}
.button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #b19a1a;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* Hiệu ứng hover */
.button:hover {
  background-color: #f0f18d;
}
